<mat-toolbar>
  <span>Gaming Cafe</span>

<span class="example-spacer"></span>

  <h1>{{name}}</h1>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav mode="side" [opened]="false" class="app-sidenav">

        <mat-nav-list>

        <a mat-list-item (click)="goToHome()">
            Home
        </a>

        <a mat-list-item (click)="goToUploadRequests()">
            Pending upload requests
        </a>

        <a mat-list-item (click)="goToallActiveWarnings()">
            Issued warning
        </a>

        <a mat-list-item (click)="goToWarningEndReqs()">
            Warning end requests
        </a>
        <a mat-list-item (click)="goToDevs()">
            Developers
        </a>
        <a mat-list-item>
            Customers
        </a>

        </mat-nav-list>

    </mat-sidenav>

  <mat-sidenav-content>

   <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
   </button>
   <h1 class="marginLeft">All customers</h1>
    <mat-form-field>
        <input #searchInput matInput class="marginLeft" placeholder="Search customer" (keyup)="searchCust(searchInput.value)">
    </mat-form-field>
    <table mat-table [dataSource]="filteredCust" class="mat-elevation-z2">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let cust"> 
            {{ cust.name }}
        </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let cust"> 
            <span>{{ cust.email }}</span> 
        </td>
    </ng-container>

    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let cust"> {{ cust.phone }} </td>
    </ng-container>


    <ng-container matColumnDef="gamesBoughtCount">
        <th mat-header-cell *matHeaderCellDef> Total games bought </th>
        <td mat-cell *matCellDef="let cust"> {{ cust.totalGamesBought }} </td>
    </ng-container>

   <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let cust"> 
            <span *ngIf="!userIsSuperAdmin()">
                <span *ngIf="cust.isActive" class="active">Active</span>
                <span *ngIf="!cust.isActive" class="blocked">Blocked</span>
            </span>
            <span *ngIf="userIsSuperAdmin()">
                <span *ngIf="cust.isActive" class="active">
                    <button mat-stroked-button (click)="blockCust(cust)">Active</button>
                </span>
                <span *ngIf="!cust.isActive" class="blocked">
                    <button mat-stroked-button (click)="unblockCust(cust)">
                        <mat-icon color="warn">block</mat-icon>
                        Blocked
                    </button>
                </span>
            </span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</mat-sidenav-content>

</mat-sidenav-container>