<mat-toolbar>
  <span>Gaming Cafe</span>

 <span class="example-spacer"></span>

  <h1>{{name}}</h1>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="false" class="app-sidenav">
    <mat-nav-list>
      <a mat-list-item>Pending upload requests</a>
      <a mat-list-item>Received warnings</a>
      <a mat-list-item>Warning end requests</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- rest of your page content -->
    <div class="quick-stats-section">
      <h2>Quick Stats</h2>

      <div class="stats-row">
        <mat-card class="stat-card">
          <mat-icon class="stat-icon">sports_esports</mat-icon>
          <div class="stat-value">{{activeGames.length}}</div>
          <div class="stat-label">Active games</div>
        </mat-card>

        <mat-card class="stat-card">
          <mat-icon class="stat-icon">sell</mat-icon>
          <div class="stat-value">{{totalGameSold}}</div>
          <div class="stat-label">Games sold</div>
        </mat-card>

        <mat-card class="stat-card">
          <mat-icon class="stat-icon">money</mat-icon>
          <div class="stat-value">{{totalMoneyEarned.toFixed(2)}}</div>
          <div class="stat-label">Money earned (PKR)</div>
        </mat-card>
    </div>
  </div>

  <h1 class="margin">Active games</h1>
  <h3 class="margin">Total games: {{filteredGames.length}}</h3>
  <div class="margin">
    <mat-form-field class="searchFilter">
      <input #searchInput matInput  placeholder="Search games" (keyup)="searchGames(searchInput.value)">
    </mat-form-field>
    <mat-form-field class="searchFilter"> 
      <mat-select [(value)]="sortOrder" placeholder="Sort games" (selectionChange)="sortGames($event.value)">    
        <mat-option value="priceLowHigh"> Price: Low to High </mat-option>
        <mat-option value="priceHighLow"> Price: High to Low </mat-option>
        <mat-option value="ratingLowHigh"> Rating: Low to High </mat-option>
        <mat-option value="ratingHighLow"> Rating: High to Low </mat-option>
        <mat-option value="soldLowHigh"> Sold: Low to High </mat-option>
        <mat-option value="soldHighLow"> Sold: High to Low </mat-option>
        <mat-option value="earnedLowHigh"> Earned: Low to High </mat-option>
        <mat-option value="earnedHighLow"> Earned: High to Low </mat-option>
        <button mat-button (click)="clearSort()">Clear filter</button>
      </mat-select>
    </mat-form-field>
     <mat-form-field class="searchFilter"> 
      <mat-select [(value)]="filter" placeholder="Filter out games" (selectionChange)="filterOutGames($event.value)">    
        <mat-option value="discounted"> Discounted applied </mat-option>
        <mat-option value="notDiscounted"> No discounted </mat-option>
        <mat-option value="public"> Public </mat-option>
        <mat-option value="private"> Private </mat-option>
        <mat-option value="warning"> Has warning </mat-option>
        <mat-option value="noWarning"> No warning </mat-option>
        <button mat-button (click)="clearFilter()">Clear filter</button>
      </mat-select>
    </mat-form-field>
    <button class="newGameBtn " color="primary" (click)="goToUploadGame()">
      <mat-icon>add</mat-icon>
        Upload Game
      </button>
  </div>
  <table mat-table [dataSource]="filteredGames" class="mat-elevation-z2 games-table marginLeft">

  <!-- Game Name -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Game Name </th>
    <td mat-cell *matCellDef="let game"> {{ game.name }} </td>
  </ng-container>

  <!-- Price -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Current Price (PKR) </th>
    <td mat-cell *matCellDef="let game"> 
      <span *ngIf="game.discountPercentage <= 0">
        {{ game.price }}
      </span>

      <span *ngIf="game.discountPercentage > 0">
        <!-- Discounted -->
        <div *ngIf="game.discountPercentage > 0">
          <span style="text-decoration: line-through;">
            {{ game.price }} 
          </span>
          <br>
          <span>
            {{getDiscountedPrice(game.price,game.discountPercentage)}} 
          </span>
        </div>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="discount">
    <th mat-header-cell *matHeaderCellDef> Discount Apppiled (%) </th>
    <td mat-cell *matCellDef="let game"> {{ game.discountPercentage }} </td>
  </ng-container>

  <!-- Sold -->
  <ng-container matColumnDef="sold">
    <th mat-header-cell *matHeaderCellDef> Sold </th>
    <td mat-cell *matCellDef="let game"> {{ game.soldAmount }} </td>
  </ng-container>

  <!-- Total Earned -->
  <ng-container matColumnDef="earned">
    <th mat-header-cell *matHeaderCellDef> Total Earned (PKR) </th>
    <td mat-cell *matCellDef="let game"> {{ game.earned }} </td>
  </ng-container>

  <!-- Rating -->
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef> Rating </th>
    <td mat-cell *matCellDef="let game"> {{ game.rating }} </td>
  </ng-container>
   <!-- Genre -->
   <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef> Genre </th>
    <td mat-cell *matCellDef="let game"> {{ game.genre }} </td>
  </ng-container>

  <ng-container matColumnDef="availability">
    <th mat-header-cell *matHeaderCellDef> Availabiliity </th>
    <td mat-cell *matCellDef="let game"> 
      <span *ngIf="game.isPublic == true">
        <button mat-stroked-button type="button" (click)="toggleAvailability(game)">Public</button>
      </span>
      <span *ngIf="game.isPublic == false">
        <button mat-stroked-button type="button" (click)="toggleAvailability(game)">Private</button>
      </span>
    </td>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let game">
      <button mat-icon-button color="primary" (click)="editGame(game)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteGame(game)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

  </mat-sidenav-content>
</mat-sidenav-container>

