<mat-toolbar>
  <span>Gaming Cafe</span>

<span class="example-spacer"></span>

    <h1><span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="userMenu">
      {{name}}
      <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="logOut()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </h1>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav mode="side" [opened]="false" class="app-sidenav">

        <mat-nav-list>

        <a mat-list-item (click)="goToHome()">
            Home
        </a>

        <a mat-list-item (click)="goToUploadRequests()">
            Pending upload requests
        </a>

        <a mat-list-item (click)="goToallActiveWarnings()">
            Issued warning
        </a>

        <a mat-list-item (click)="goToWarningEndReqs()">
            Warning end requests
        </a>
        <a mat-list-item>
            Developers
        </a>
        <a mat-list-item (click)="goToCust()">
            Customers
        </a>
        <a mat-list-item (click)="goToAdmins()" *ngIf="userIsSuperAdmin()">
          Admins
        </a>
        </mat-nav-list>

    </mat-sidenav>

  <mat-sidenav-content>

   <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
   </button>
   <h1 class="marginLeft">All developers</h1>
   <h3 class="marginLeft">Total: {{filteredDevs.length}}</h3>
    <mat-form-field>
        <input #searchInput matInput class="marginLeft" placeholder="Search developer" (keyup)="searchDev(searchInput.value)">
    </mat-form-field>
    <table mat-table [dataSource]="filteredDevs" class="mat-elevation-z2">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let dev"> 
            {{ dev.name }}
        </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let dev"> 
            <span>{{ dev.email }}</span> 
        </td>
    </ng-container>

    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let dev"> {{ dev.phone }} </td>
    </ng-container>


    <ng-container matColumnDef="activeGamesCount">
        <th mat-header-cell *matHeaderCellDef> Total active games </th>
        <td mat-cell *matCellDef="let dev"> {{ dev.totalActiveGames }} </td>
    </ng-container>

   <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let dev"> 
            <span *ngIf="!userIsSuperAdmin()">
                <span *ngIf="dev.isActive" class="active">Active</span>
                <span *ngIf="!dev.isActive" class="blocked">Blocked</span>
            </span>
            <span *ngIf="userIsSuperAdmin()">
                <span *ngIf="dev.isActive" class="active">
                    <button mat-stroked-button (click)="blockDev(dev)">Active</button>
                </span>
                <span *ngIf="!dev.isActive" class="blocked">
                    <button mat-stroked-button (click)="unblockDev(dev)">
                        <mat-icon color="warn">block</mat-icon>
                        Blocked
                    </button>
                </span>
            </span>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</mat-sidenav-content>

</mat-sidenav-container>