<mat-toolbar>
  <span>Gaming Cafe</span>

<span class="example-spacer"></span>

  <h1>{{name}}</h1>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">

<mat-sidenav #sidenav mode="side" [opened]="false" class="app-sidenav">

<mat-nav-list>

  <a mat-list-item (click)="goToHome()">
    Home
  </a>

  <a mat-list-item>
    Pending upload requests
  </a>

  <a mat-list-item>
    Received warnings
  </a>

  <a mat-list-item>
    Warning end requests
  </a>

</mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>


<button mat-icon-button (click)="sidenav.toggle()">
  <mat-icon>menu</mat-icon>
</button>


<div class="requests-container">

  <h2>Pending Upload Requests</h2>

  <table mat-table [dataSource]="pendingRequests">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        Game Name
      </th>

      <td mat-cell *matCellDef="let game">
        {{ game.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>
        Price (PKR)
      </th>

      <td mat-cell *matCellDef="let game">
        {{ game.price }} 
      </td>
    </ng-container>


    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef>
        Genre
      </th>

      <td mat-cell *matCellDef="let game">
        {{ game.genre }}
      </td>
    </ng-container>

    <ng-container matColumnDef="developer">
      <th mat-header-cell *matHeaderCellDef>
        Developer
      </th>

      <td mat-cell *matCellDef="let game">
        {{game.developerName}}
      </td>
    </ng-container>

   <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>
        Details
      </th>

      <td mat-cell *matCellDef="let game">
        <button mat-stroked-button (click)="goToDetails(game.id)">
            View more details
        </button>
      </td>
    </ng-container>

   <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        Actions
      </th>

      <td mat-cell *matCellDef="let game">
        <button (click)="approveRequest(game)" mat-stroked-button class="approve-button">
            <mat-icon class="approve-icon">check</mat-icon>
            Approve
        </button>
        <button (click)="rejectRequest(game)" mat-stroked-button class="reject-button">
            <mat-icon class="reject-icon" color="danger">close</mat-icon>
            Reject
        </button>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns">
    </tr>

    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;">
    </tr>

  </table>

</div>

  </mat-sidenav-content>

</mat-sidenav-container>
