<h2 mat-dialog-title>
  Change Password
</h2>

<mat-dialog-content>


  <mat-form-field appearance="outline" class="password-field">
    <mat-label>Current password</mat-label>


<input
  matInput
  [type]="hideCurrentPassword ? 'password' : 'text'"
  [(ngModel)]="currentPassword"
  placeholder="Enter your current password">

<button
  mat-icon-button
  matSuffix
  type="button"
  (click)="hideCurrentPassword = !hideCurrentPassword">

  <mat-icon>
    {{ hideCurrentPassword ? 'visibility' : 'visibility_off' }}
  </mat-icon>

</button>


  </mat-form-field>
rd 
  <mat-form-field appearance="outline" class="password-field">
    <mat-label>New password</mat-label>


<input
  matInput
  [type]="hideNewPassword ? 'password' : 'text'"
  [(ngModel)]="newPassword"
  placeholder="Enter your new password">

<button
  mat-icon-button
  matSuffix
  type="button"
  (click)="hideNewPassword = !hideNewPassword">

  <mat-icon>
    {{ hideNewPassword ? 'visibility' : 'visibility_off' }}
  </mat-icon>

</button>


  </mat-form-field>


  <mat-form-field appearance="outline" class="password-field">
    <mat-label>Confirm new password</mat-label>


<input
  matInput
  [type]="hideConfirmPassword ? 'password' : 'text'"
  [(ngModel)]="confirmNewPassword"
  placeholder="Confirm your new password">

<button
  mat-icon-button
  matSuffix
  type="button"
  (click)="hideConfirmPassword = !hideConfirmPassword">

  <mat-icon>
    {{ hideConfirmPassword ? 'visibility' : 'visibility_off' }}
  </mat-icon>

</button>


  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">

<button
mat-button
(click)="cancel()">
Cancel </button>

<button
mat-flat-button
color="primary"
(click)="changePassword()">


<mat-icon>lock_reset</mat-icon>
Confirm


  </button>

</mat-dialog-actions>
